.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* 改为相对定位 */
  bottom: 20px; /* 调整底部位置 */
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease-in-out;
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}

@keyframes flyIn {
  0% {
    transform: translateY(100%); /* 从屏幕底部开始 */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* 飞入到屏幕中心 */
    opacity: 1;
  }
}
